<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <div class="container">
    <div class="heading">
    <h1>Mini message board</h1>
    </div>
    <div class="message-container">
      <div class="display-message">
    <% messages.forEach(function(message) { %>
    <h2><%= message.text %></h2>
    <h3><%= message.user %></h3>
  <% }); %>
  </div>
  <form action="/submit" method="POST">
    <label for="userName">Name: </label>
    <input type="text" id="user" name="userName"><br>
    <label for="message">Message</label>
    <input type="text" id="text"name="message">
    <button type="submit">Submit</button>    
  </form>
  </div>
  </div>
</body>
</html>